# üßæ Product Sales Analysis ‚Äî Pens & Printers

### üìç Overview
This project analyzes the sales performance of a new office stationery product line ‚Äî **pens and printers** ‚Äî launched by the fictional company *Pens and Printers*.  
The goal is to evaluate the effectiveness of different **sales methods** (Email, Call, and Email + Call) in driving revenue and customer engagement.

### üéØ Objectives
- Understand how each sales method impacts total revenue and sales volume.
- Identify patterns and key factors influencing customer response.
- Provide actionable insights to optimize future sales strategies.

### üß∞ Tools & Libraries
- Python ‚Äî data analysis and visualization
- Pandas ‚Äî data cleaning and manipulation
- Matplotlib & Seaborn ‚Äî exploratory data analysis and visualization
- NumPy & SciPy ‚Äî numerical operations and statistics

### üß† Key Questions
1. Which sales approach (Email, Call, or Email + Call) generated the highest revenue?
2. Do certain regions or product categories respond better to specific methods?
3. What recommendations can improve sales performance in future campaigns?

In [10]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset 
sales = pd.read_csv('https://s3.amazonaws.com/talent-assets.datacamp.com/product_sales.csv')
sales 
d

,week,sales_method,customer_id,nb_sold,revenue,years_as_customer,nb_site_visits,state
0,2,Email,2e72d641-95ac-497b-bbf8-4861764a7097,10,NaN,0,24,Arizona
1,6,Email + Call,3998a98d-70f5-44f7-942e-789bb8ad2fe7,15,225.47,1,28,Kansas
2,5,Call,d1de9884-8059-4065-b10f-86eef57e4a44,11,52.55,6,26,Wisconsin
3,4,Email,78aa75a4-ffeb-4817-b1d0-2f030783c5d7,11,NaN,3,25,Indiana
4,3,Email,10e6d446-10a5-42e5-8210-1b5438f70922,9,90.49,0,28,Illinois
...,...,...,...,...,...,...,...,...
14995,4,Call,17267b41-d048-4346-8b90-7f787690a836,10,50.82,0,22,Pennsylvania
14996,5,Call,09e10d6f-4508-4b27-895e-4db11ce8302b,10,52.33,1,27,Kansas
14997,1,Call,839653cb-68c9-48cb-a097-0a5a3b2b298b,7,34.87,4,22,West Virginia
14998,6,Call,e4dad70a-b23b-407c-8bd3-e32ea00fae17,13,64.90,2,27,New Jersey
14999,5,Email + Call,4e077235-7c17-4054-9997-7a890336a214,13,NaN,4,25,Illinois